.modi {
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rahul {
    background-color: yellow;
}

.nayana {
    background-color: blue;
}

.rajni {
    background-color: greenyellow;
}

.vijay {
    background-color: pink;
}

.pr {
    background-color: blueviolet;
}

.pk {
    background-color: aqua;
}